<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://d3js.org/d3.v6.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    
    <!-- <script>
      var someData = [1,6,8,7,5];
      var paras = d3.select("body")
        .selectAll("p")
        .data(someData)
          .enter()
          .append("p")
          // .text(function(d) {return "some text " + d})
          .text(someData[2])
          .style("font-size", "10px")
          .style("color", "red")
      d3.select("body").append("paras")
    </script> -->
  </body>
</html>
